.App {
  margin-top: 20px;
  padding-bottom: 10px;
  width: 900px;
  height: auto;
  position: relative;
  left: 25%;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #80bfff;
}

h2 {
  margin-top: 0px;
  padding-top: 10px;
  text-decoration: solid;
  text-align: center;
}

h4 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 16px solid black;
  ;
  text-align: center;
}

p {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 18px solid black;
}

form {
  position: relative;
  left: 15%;
  text-align: justify;
  padding-top: 10px;
}

input {
  font-size: 18px;
  margin-left: 10px;
}

button {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: whitesmoke;
  margin-left: 10px;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.userList li {
  text-align: justify;
  position: relative;
  left: 30%;
}

button.usersList {
  margin-left: 200px;
}

input.searchBar {
  font-size: 22px;
  display: block;
  width: 90%;
  margin-top: 50px;
  margin-left: 40px;
  text-align: center;
  background-color: #494949;
  color: white;
}

img.movieImage {
  border-radius: 10%;
  border: 1px solid black;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 5px;
}

.movieRow {
  border: 1px solid #20bf6b;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 5px;
}

.tittleBar {
  display: block;
  color: #fff;
  font-size: 20;
  text-align: justify;
  line-height: 1.8px;
  padding-left: 30px;
  padding-top: 20px;
  background-color: #333399;
  border: 1px solid #20bf6b;
  border-radius: 10px;
}